<div>
  <p>{{idsToQuery}}</p>
  <table class="table" ng-table="tableParameters">
    <tr ng-repeat-start="details in errorDetails track by $index">
      <td width="30px" title ="'Error'">{{details.error}}</td>
      <td title="'Number'">{{details.tests.length}}</td>
      <td title="'Links'">
        <a ng-href="#" ng-show="!showErrors" ng-click="showErrors = true">Expand</a>
        <a ng-href="#" ng-show="showErrors" ng-click="showErrors = false">Collapse</a>
      </td>
    </tr>
    <tr ng-repeat-end ng-if="showErrors">
      <td colspan="8">
        <h4>There are {{details.tests.length}} affected test cases in the test run</h4>
        <ul>
          <li ng-repeat="test in details.tests">
            <a href="{{test.appView}}">{{test.appView}} </a>
            <a ng-mouseover="showToolTop = true" ng-mouseleave="showToolTop = false" href="{{test.buildUrl}}">{{test.name}}</a></li>
            <div ng-if="showToolTop">
              <h4>Error</h4>
              <p>{{test.error}}</p>
              <br/>
              <h4>Stack Trace</h4>
              <p>{{test.errorStackTrace}}</p>
            </div>
        </ul>
      </td>
    </tr>
  </table>
</div>
