<div ng-show="!errorDetails.length > 0">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <div class="message">Collecting Errors... This can take quite some time</div>
  <uib-progressbar ng-show="errorProgress.progress < 100" value="errorProgress.processed" max="errorProgress.total">
    <span style="color:white; white-space:nowrap;">{{ errorProgress.processed }} / {{ errorProgress.total }}</span>
  </uib-progressbar>
</div>

<div ng-if="errorDetails.length > 0">
  <table class="table" ng-table="tableParameters">
    <tr ng-repeat-start="details in errorDetails track by $index">
      <td width="30px" title ="'Error'">{{details.error}}</td>
      <td title="'Number'">{{details.affectedTests.length}}</td>
      <td title="'Links'">
        <a ng-href="#" ng-show="!showErrors" ng-click="showErrors = true">Expand</a>
        <a ng-href="#" ng-show="showErrors" ng-click="showErrors = false">Collapse</a>
      </td>
    </tr>
    <tr ng-repeat-end ng-if="showErrors">
      <td colspan="8">
        <div>
          <h4>There are {{details.affectedTests.length}} affected test cases in the test run</h4>
          <ul>
            <table class="table table-boardered table-striped table-response table-hover">
              <tr ng-repeat="test in details.affectedTests track by $index">
                <td title="Index">{{$index+1}}</td>
                <td title="Jenkins View"><a view-breadcrumbs="test.view">{{test.view}}</a></td>
                <td><div title="Error: {{test.error}} Stack Trace: {{test.errorStackTrace}}"><a href="{{test.url}}">{{test.name}}</a></div></td>
              </tr>
            </table>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
