<div ng-if="!jenkinsViews">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <div class="message">Loading jenkins views...</div>
</div>
<div ng-if="jenkinsViews">
  <h2>Jenkins views {{ search }}</h2>
  <p>Select jenkins view on which you want to report</p>
  <p><input type="text" ng-model="search" class="form-control" placeholder="Filter builds by name..." autofocus="true"></p>

  <table class="table table-bordered table-responsive table-striped" ng-table="tableParameters">
    <tr ng-repeat="view in $data" data-pass-rate="view.passRate">
      <td title="'View Name'" sortable="'fullName'"><a ng-href="#/views{{ view.relativeUrl }}">{{ view.fullName }}</a>
      </td>
      <td title="'Number of jobs'" sortable="'allJobs.length'">{{ view.allJobs.length }}</td>
      <td title="'Job pass rate'" sortable="'passRate'">{{ view.passRate | percentage:0 }}</td>
    </tr>
  </table>
</div>
