<h1>Tests for job {{ job }}</h1>

<div ng-show="!testReport">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <div class="message">Loading test report...</div>
  <uib-progressbar ng-show="downloadProgress.progress < 100" value="downloadProgress.processed" max="downloadProgress.total">
    <span style="color:white; white-space:nowrap;">{{ downloadProgress.processed }} / {{ downloadProgress.total }}</span>
  </uib-progressbar>
</div>

<div ng-show="testReport && testReport.cases.length > 0">

  <div class="panel-default panel" pass-rate="testReport.passRate">
    <div class="panel-heading">
      <a data-target="#testStatistics" class="pointer" data-toggle="collapse">Test report</a> -
      <small>Number of tests: {{ testReport.cases.length }}</small>
      <small>Pass rate: {{ testReport.passRate | percentage }}</small>
      <small>Unstable rate: {{ testReport.unstableRate | percentage }}</small>
      <small>Fail rate: {{ testReport.failRate | percentage }}</small>
      <small>Skip rate: {{ testReport.skippedRate | percentage }}</small>
    </div>
    <div id="testStatistics" class="panel-collapse collapse">
      <div class="panel-body">
        <bloquote ng-if="testSearch">Filtered by: <strong>{{ testSearch }}</strong>, found: {{ testTableParameters.total() }}</bloquote>
        <p><input type="text" placeholder="Filter tests..." ng-model="testSearch" class="form-control"></p>

        <table
          class="table table-bordered table-striped table-responsive table-hover"
          ng-table="testTableParameters">
          <tr ng-repeat="case in $data track by $index" pass-rate="case.getPassRate()" data-skipped="case.skipped">
            <td title="Index">{{ $index + 1 }}</td>
            <td title="'Suite'">{{ case.className }}</td>
            <td title="'Name'">{{ case.name }}</td>
            <td title="'Pass rate'" sortable="'getPassRate()'">{{ case.getPassRate() | percentage:0 }}</td>
            <td title="'Status'" sortable="'status'">{{ case.status }}</td>
            <td title="'Executions'" sortable="'executions.length'">
              <p>{{ case.executions.length }} executions</p>
              <ul>
                <li ng-repeat="e in case.executions">
                  <span>
                    <a ng-class="{ skipped: e.skipped, fail: !e.passing && !e.skipped, pass: e.passing }" href="{{ e.url }}" target="_blank">Build #{{ e.build.number}}</a>
                  </span>
                </li>
              </ul>
            </td>
            <td title="'Links'"><a ng-href="{{ case.url }}" target="_blank">History</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<h2>Builds
  <small>Count: {{ builds.length }}</small>
  <small>Pass rate: {{ passRate | percentage }}</small>
</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
  <thead>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Status</th>
    <th>Test count</th>
    <th>Test pass rate</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="build in builds" pass-rate="build.report.passRate">
    <td>{{ build.number}}</td>
    <td><a href="{{ build.url }}" target="_blank">{{ build.fullDisplayName}}</a></td>
    <td ng-class="{ pass: build.passing, fail: !build.passing, aborted: build.aborted }">{{ build.result }}</td>
    <td>{{ build.report.totalTests }}</td>
    <td>{{ build.report.passRate | percentage:0 }}</td>
  </tr>
  </tbody>
</table>
