<h1>Tests for job {{ job }}</h1>

<div test-report="testReport"
     test-report-summary="testReportSummary"
></div>

<h2>Builds
  <small>Count: {{ builds.length }}</small>
  <small>Pass rate: {{ passRate | percentage }}</small>
</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
  <thead>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Status</th>
    <th>Test count</th>
    <th>Test pass rate</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="build in builds" pass-rate="build.report.passRate">
    <td>{{ build.number}}</td>
    <td><a href="{{ build.url }}" target="_blank">{{ build.fullDisplayName}}</a></td>
    <td ng-class="{ pass: build.passing, fail: !build.passing, aborted: build.aborted }">{{ build.result }}</td>
    <td>{{ build.report.totalTests }}</td>
    <td>{{ build.report.passRate | percentage:0 }}</td>
  </tr>
  </tbody>
</table>
