<h1>Listing for <span view-breadcrumbs="view.name"></span></h1>

<div class="panel panel-default" pass-rate="view.passRate">
  <div class="panel-heading">Statistics</div>
  <div class="panel-body">
    <p>Number of jobs in view: {{ view.allJobs.length }}</p>
    <p ng-if="testReport.cases">Number of tests: {{ testReport.cases.length }}</p>
    <p ng-if="testReport.passRate">Pass rate: {{ testReport.passRate | percentage:0 }}</p>
  </div>
</div>

<uib-tabset active="activeForm">

  <uib-tab index="0" heading="Tests">
    <div test-report="testReport"
         test-report-summary="testReportSummary"
    ></div>
  </uib-tab>

  <uib-tab index="1" heading="Errors" select="assignErrorReport()">
    <div error-report="errorReport"></div>
  </uib-tab>

  <uib-tab index="2" heading="Jobs">
    <table ng-table="tableParameters" class="table">
      <tr data-pass-rate="job.report.passRate" ng-repeat="job in $data">
        <td title="'View'"><span view-breadcrumbs="job.view"></span></td>
        <td title="'Name'" sortable="'displayName'"><a ui-sref="tests({ job: job.name })">{{
          job.displayName }}</a></td>
        <td title="'Number of builds'" sortable="'builds.length'">{{ job.builds.length }}</td>

        <td title="'Test pass rate'" sortable="'report.passRate'">{{ job.report.passRate | percentage }}</td>
        <td title="'Unstable rate'" sortable="'report.unstableRate'">{{ job.report.unstableRate | percentage }}</td>
        <td title="'Fail rate'" sortable="'report.failRate'">{{ job.report.failRate | percentage }}</td>
        <td title="'Skip rate'" sortable="'report.skippedRate'">{{ job.report.skippedRate | percentage }}</td>
        <td title="'Test count'" sortable="'report.cases.length'">{{ job.report.cases.length }}</td>

        <td title="'Build Pass rate'" sortable="'passRate'">{{ job.passRate | percentage:0 }}</td>
      </tr>
    </table>
  </uib-tab>
</uib-tabset>
