<h1>Listing for {{ view.name | breadcrumbs }}</h1>

<div class="panel panel-default" pass-rate="view.passRate">
  <div class="panel-heading">Statistics</div>
  <div class="panel-body">
    <p>Number of jobs in view: {{ view.allJobs.length }}</p>
    <p>Build pass rate: {{ view.passRate | percentage:0 }}</p>
  </div>
</div>


<div ng-show="!testReport">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <div class="message">Loading test report... This can take quite some time</div>
  <uib-progressbar ng-show="downloadProgress.progress < 100" value="downloadProgress.processed" max="downloadProgress.total">
    <span style="color:white; white-space:nowrap;">{{ downloadProgress.processed }} / {{ downloadProgress.total }}</span>
  </uib-progressbar>
</div>

<div ng-show="testReport && testReport.cases.length > 0">
  <div class="panel-default panel" pass-rate="testReport.passRate">

    <div class="panel-heading" title="{{ testReportSummary }}">
      <a class="float-right pointer" ng-click="exportCsv()">Export as CSV</a>
      <a data-target="#testStatistics" class="pointer" data-toggle="collapse">Test report</a> -
      <small>Number of tests: {{ testReport.cases.length }}</small>
      <small>Pass rate: {{ testReport.passRate | percentage }} ({{ testReport.passingTests }})</small>
      <small>Unstable rate: {{ testReport.unstableRate | percentage }} ({{ testReport.unstableTests }})</small>
      <small>Fail rate: {{ testReport.failRate | percentage }} ({{ testReport.failingTests }})</small>
      <small>Skip rate: {{ testReport.skippedRate | percentage }} ({{ testReport.skippedTests }})</small>
    </div>

    <div id="testStatistics" class="panel-collapse collapse">
      <div class="panel-body">
        <bloquote ng-if="testSearch">Filtered by: <strong>{{ testSearch }}</strong>, found: {{ testTableParameters.total() }}</bloquote>

        <p><input type="text" placeholder="Filter tests by name..." ng-model="testSearch" class="form-control"></p>

        <table
          class="table table-bordered table-striped table-responsive table-hover"
          ng-table="testTableParameters">
          <tr ng-repeat="case in $data track by $index" pass-rate="case.getPassRate()">
            <td title="Index">{{ $index + 1 }}</td>
            <td title="'Job'" sortable="'job.name'">{{ case.job.displayName }}</td>
            <td title="'Suite'" sortable="'className'">{{ case.className }}</td>
            <td title="'Name'" sortable="'name'">{{ case.name }}</td>
            <td title="'Pass rate'" sortable="'getPassRate()'">{{ case.getPassRate() | percentage:0 }}</td>
            <td title="'Status'" sortable="'status'">{{ case.status }}</td>
            <td title="'Executions'" sortable="'executions.length'">
              <p>{{ case.executions.length }} executions</p>
              <ul>
                <li ng-repeat="e in case.executions">
                  <span>
                    <a ng-class="{ skipped: e.skipped, fail: !e.passing && !e.skipped, pass: e.passing }" href="{{ e.url }}" target="_blank">Build #{{ e.build.number}}</a>
                  </span>
                </li>
              </ul>
            </td>
            <td title="'Links'"><a ng-href="{{ case.url }}" target="_blank">History</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h2>Jobs</h2>
<bloquote ng-if="jobSearch">Filtered by: <strong>{{ jobSearch }}</strong>, found: {{ tableParameters.total() }}</bloquote>

<p><input type="text" placeholder="Filter builds by name..." ng-model="jobSearch" class="form-control"></p>
<table ng-table="tableParameters" class="table">
  <tr data-pass-rate="job.report.passRate" ng-repeat="job in $data">
    <td title="'View'">{{ job.view.name }}</td>
    <td title="'Name'" sortable="'displayName'"><a ui-sref="tests({ job: job.name })">{{
      job.displayName }}</a></td>
    <td title="'Number of builds'" sortable="'builds.length'">{{ job.builds.length }}</td>

    <td title="'Test pass rate'" sortable="'report.passRate'">{{ job.report.passRate | percentage }}</td>
    <td title="'Unstable rate'" sortable="'report.unstableRate'">{{ job.report.unstableRate | percentage }}</td>
    <td title="'Fail rate'" sortable="'report.failRate'">{{ job.report.failRate | percentage }}</td>
    <td title="'Skip rate'" sortable="'report.skippedRate'">{{ job.report.skippedRate | percentage }}</td>
    <td title="'Test count'" sortable="'report.cases.length'">{{ job.report.cases.length }}</td>

    <td title="'Build Pass rate'" sortable="'passRate'">{{ job.passRate | percentage:0 }}</td>
  </tr>
</table>
